.users
  list-style none
  width 300px
  padding 0
  margin 0
  li
    line-height 30px
    background #eee
    margin 10px 0
    &.selected
      background darken(#607d8b, 0.3) 
      color #fff
    a
      display inline-block
      width 100%
      text-decoration none
      color #333
  .badge
    display inline-block
    text-align center
    padding 3px
    width 30px
    background #607d8b
